{
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": ["apps/server/**/*.ts", "apps/sfu/**/*.ts", "packages/shared/**/*.ts"],
      "options": {
        "parser": "typescript",
        "plugins": ["@trivago/prettier-plugin-sort-imports"],
        "importOrder": ["^@nestjs", "^@?\\w", "^[./]"],
        "importOrderParserPlugins": ["typescript", "decorators-legacy"]
      }
    },
    {
      "files": ["apps/client/**/*.ts", "apps/client/**/*.tsx"],
      "options": {
        "importOrder": ["^react", "^@", "\\.(png|jpe?g|gif|svg|webp)$"],
        "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
        "tailwindFunctions": ["cva", "cx", "cn"]
      }
    }
  ]
}
