@import "tailwindcss";

@utility scrollbar-hide {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
